@charset "UTF-8";
/*┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ fontes ┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ */
@import url("https://fonts.googleapis.com/css?family=Satisfy|Stalemate|Parisienne|Sacramento|Poiret+One");
/*┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ variaveis ┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ */
/*┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ classes ┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ */
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  border: none; }

/*┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ IDs ┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ */
/*#fundo{
	background-image: url(../../img/fundo.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #EEEEEE;
	}*/
#nav {
  box-shadow: 0px 3px 20px #646464;
  border-bottom: 1px solid #FFA500;
  background-color: #000 !important; }
  #nav .ml-auto {
    padding-right: 150px; }
  #nav a {
    padding-left: 15px;
    font-weight: bold;
    color: #d46803; }
    #nav a:hover {
      color: #ff9900; }

#bloco1 {
  height: 800px;
  background-color: #000;
  background-image: url(../../img/fundoBloco1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 200px; }
  #bloco1 h1 {
    font-family: 'Poiret One', cursive;
    font-size: 4rem; }

#sobreMim {
  height: 400px;
  background: linear-gradient(to bottom, #fafafa 0%, #d8d8d8 100%);
  border-top: #FFF solid 4px;
  border-bottom: #FFF solid 2px;
  padding-top: 120px;
  font-family: 'Poiret One', cursive; }

#competencias {
  background-image: url(../../img/fundoCompetencia.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #EEEEEE;
  padding-top: 30px;
  padding-bottom: 60px; }
  #competencias h1 {
    color: #e97f7f;
    text-decoration: none; }
  #competencias i {
    color: #e97f7f;
    font-size: 3rem;
    margin: 20px; }

#projetos {
  padding: 20px;
  background-image: url(../../img/fundoProjetos.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black; }
  #projetos .container {
    margin: auto;
    color: #FFF; }
  #projetos .card {
    margin-bottom: 20px;
    box-shadow: 0px 8px 10px #b1afaf; }
  #projetos #algPro {
    font-family: 'Sacramento', cursive;
    color: white;
    text-shadow: #000 2px 3px 20px;
    margin-bottom: 50px; }
  #projetos .row {
    height: 400px; }
  #projetos hr {
    background-color: #b1afaf; }
  #projetos .btn {
    width: 10rem;
    margin: 25px;
    background: linear-gradient(to bottom, #f8b539 0%, #c96c02 100%);
    border: none;
    box-shadow: #464646 1px 6px 20px; }
    #projetos .btn:hover {
      background: linear-gradient(to bottom, #f7bb4c 0%, #ff8800 100%); }

#contato {
  height: 650px;
  background: linear-gradient(to bottom, #fafafa 0%, #d8d8d8 100%);
  border-top: #FFF solid 4px;
  border-bottom: #FFF solid 2px;
  padding-top: 30px;
  font-family: 'Poiret One', cursive;
  background-image: url(../../img/fundoCompetencia.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #EEEEEE; }
  #contato .faleComigo {
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    margin: 30px 0px; }
  #contato .card {
    margin: 30px 0px;
    background-color: #FFF;
    box-shadow: #d4d3d3 1px 16px 30px; }
  #contato form {
    padding: 10px; }
    #contato form .form-group {
      font-family: 'Courier New', Courier, monospace; }
    #contato form label {
      font-family: 'Poiret One', cursive; }
  #contato .btn {
    width: 10rem;
    background: linear-gradient(to bottom, #f8b539 0%, #c96c02 100%);
    border: none;
    box-shadow: #a8a7a7 1px 6px 20px; }
    #contato .btn:hover {
      background: linear-gradient(to bottom, #f7bb4c 0%, #ff8800 100%); }

#bloco5 {
  height: 700px;
  padding: 0px;
  margin: 0px;
  background-color: #aee0de; }

#bloco6 {
  height: 400px;
  background-color: #E6E6FA; }

#bloco7 {
  height: 400px;
  background-color: #FFF; }

#bloco8 {
  padding: 30px;
  background-color: #000000; }
  #bloco8 .encontreMe {
    font-family: 'Poiret One', cursive;
    color: #b1afaf; }
  #bloco8 ul {
    margin-top: 20px; }
  #bloco8 i {
    margin: 20px;
    font-size: 3rem;
    color: #707070;
    opacity: none; }
    #bloco8 i:hover {
      color: silver; }
  #bloco8 #direitos {
    background-color: #000;
    color: #e3e3e4; }
    #bloco8 #direitos p {
      font-family: 'Poiret One', cursive; }
    #bloco8 #direitos span {
      color: #FFA500;
      font-size: 20px;
      font-family: 'Parisienne', cursive; }

#pro {
  margin: 15px; }

.btn_topo {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99;
  background-color: #92590f;
  background: linear-gradient(to bottom, #d69c30 0%, #a55902 100%);
  box-shadow: #929191 0px 6px 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 44px;
  right: 25px;
  bottom: -25px;
  padding-top: 2px;
  border-radius: 50px;
  transition: all .5s ease-in-out;
  transition-delay: .2s; }

.btn_topo:hover {
  background: linear-gradient(to bottom, #f7bb4c 0%, #ff8800 100%);
  color: #fff;
  transition: all .2s ease-in-out;
  transition-delay: 0; }

.btn_topo.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
  bottom: 25px; }

.btn_topo i.fa {
  line-height: inherit; }

/*# sourceMappingURL=homePage.css.map */
