@charset "UTF-8";
/*┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ fontes ┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ */
@import url("https://fonts.googleapis.com/css?family=Satisfy|Stalemate|Parisienne|Sacramento|Poiret+One");
/*┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ variaveis ┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ */
/*┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ classes ┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ */
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  border: none; }

/*┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ IDs ┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼┬¼ */
/*#fundo{
	background-image: url(../../img/fundo.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #EEEEEE;
	}*/
#nav {
  box-shadow: 0px 3px 20px #646464;
  border-bottom: 1px solid #FFA500;
  background-color: #000 !important; }
  #nav .ml-auto {
    padding-right: 150px; }
  #nav a {
    padding-left: 15px;
    font-weight: bold;
    color: #d46803; }
    #nav a:hover {
      color: #ff9900; }

#bloco1 {
  height: 600px;
  background-color: #000;
  background-image: url(../../img/fundoBloco1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 200px; }
  #bloco1 h1 {
    font-family: 'Poiret One', cursive;
    font-size: 4rem; }

#bloco2 {
  height: 400px;
  background: linear-gradient(to bottom, #30CFD0 0%, #1578c9 100%); }

#bloco3 {
  color: #FFF;
  height: 300px;
  padding-top: 20px;
  background-color: #1b1b1b; }
  #bloco3 p {
    font-family: 'Sacramento', cursive; }

#projetos {
  padding: 20px;
  background: linear-gradient(to bottom, white 0%, #e3e3e4 100%); }
  #projetos .container {
    margin: auto; }
  #projetos .card {
    margin-bottom: 20px;
    box-shadow: 0px 8px 10px #b1afaf; }

#bloco5 {
  height: 400px;
  background-color: #aee0de; }

#bloco6 {
  height: 400px;
  background-color: #E6E6FA; }

#bloco7 {
  height: 400px;
  background-color: #FFF; }

#bloco8 {
  height: 200px;
  padding-top: 50px;
  background: linear-gradient(to bottom, #3f3f3f 0%, #000000 100%); }
  #bloco8 i {
    margin: 30px;
    font-size: 3.5rem;
    color: #707070;
    opacity: none; }
    #bloco8 i:hover {
      color: silver; }

#pro {
  margin: 15px; }

#direitos {
  height: 100px;
  background-color: #000;
  color: #e3e3e4; }
  #direitos p {
    font-family: 'Poiret One', cursive;
    padding-top: 15px; }
  #direitos span {
    color: #FFA500;
    font-size: 20px;
    font-family: 'Parisienne', cursive; }

/*# sourceMappingURL=homePage.css.map */
